@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #fff;
  overflow: hidden;
}
header{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
}
nav ol{
  display: flex;
  margin-top: 50px;
  text-align: center;
  list-style: none;
}
nav ol li{
  padding-left: 30px;
  font-size: 14px;
  font-weight: bolder;
  color: #fff;
  opacity: 80%;
}

.logo{
  color: white;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  margin-top: 50px;
  padding-left: 50px;
  padding-right: 20px;
}
.bg{
  max-width: 750px;
}
.card-conatiner-one{
  display: flex;
  align-items: center;
}
.text-container{
  padding: 100px;
}
.text h1{
  font-size: 2.5rem;
}
.text p{
  font-size: 15px;
  line-height: 1.5;
  color: #b1b1b1;
  font-weight: 500;
}
#click{
  margin-top: 20px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 10px;
  color: black;
}
.font{
  width: 125px;
  height: 60px;
  background-color: black;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  position: absolute;
  bottom: 35.69%;
  right: 43%;
}
.arrow-font-right, .arrow-font-left{
  opacity: 60%;
}
.card-container-two{
  margin-top: -7px;
  display: flex;
}
.text-container-2{
  padding: 50px;
}
.text-container-2 h3{
  letter-spacing: 5px;
  margin-bottom: 20px;
}
.text-container-2 p{
  font-size: 14px;
  line-height: 2;
  color: #b1b1b1;
  font-weight: 500;
}
@media screen and (min-width: 576px) {
}

/* Medium devices (tablets) */

@media (min-width: 768px) {
}

/* Large devices (desktops) */

@media (min-width: 991px) {
}

/* Extra large devices (large desktops) */

@media (min-width: 1200px) {
}
